html {
background-color:#ececec;
}
.icon{
display:inline-block;
width:24px;
height:24px;
padding-right:10px;
vertical-align:middle;
}
a{
	text-decoration:none;
	color:#000000;
	font-family:sans-serif;
}
li {padding:5px;}
