html {
background-color:#ececec;
line-height:120px;
}
.iconbox{
	line-height:30px;
	text-align:center;
	display:inline-block;
	width:100px;
	overflow:hidden;
	height:100px;
	background-color:#eaeaea;
	border-color:#ffffff;
	border-style:solid;
	border-width:2px;
	border-radius:1px;
	padding:20px;
	margin:10px;
}
.icon{}
a{
	text-decoration:none;
	color:#000000;
	font-family:sans-serif;
}
